:host {
  display: flex;
  .container {
    margin: 0 30px 30px;

    .example-card {
      margin: 25px;
      width: 300px;
      height: max-content;

      .image {
        width: 100%;
      }

      .text {
        margin-left: 8px;
      }

      &.encoded {
        background-color: #568156;
      }
    }
  }
}
