<ngx-spinner bdColor = "black" size = "large" color = "#efef0b" type = "pacman" [fullScreen] = "true"><p style="color: white" > Hard cryptography ... </p></ngx-spinner>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Encoding string:</mat-card-title>
      <mat-card-subtitle>Simple replacement</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="text">
        {{wordToCode}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-button (click)="onEncode()">ENCODE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card encoded" *ngIf="resultWord.length">
    <mat-card-header>
      <mat-card-title>Encoded string:</mat-card-title>
      <mat-card-subtitle>Simple replacement</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="text">
        {{resultWord.join('')}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Encoded string:</mat-card-title>
      <mat-card-subtitle>Hill Cipher</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="text">
        {{wordToCodeHill}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-button (click)="onHillDecode()">DECODE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card encoded" *ngIf="resultWordHill.length">
    <mat-card-header>
      <mat-card-title>Decoded string:</mat-card-title>
      <mat-card-subtitle>Hill Cipher</mat-card-subtitle>
    </mat-card-header>
    <img class="image" src="https://yesfrukt.com/storage/source/3d6fc2b8d0fc3adbbff1ecdebfdaa8f0/product/1/iJpZCUPAOUz2umDXMApd1HLHWjkuSucP.jpg">
    <mat-card-content>
      <p class="text">
        {{resultWordHill.join('')}}
      </p>
    </mat-card-content>
  </mat-card>
</div>


